@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: 'Urbanist', sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #00A753;
}

@layer base {
    html {
        font-family: var(--font-display);
    }

    body {
        background-color: #f7fafe;
        overflow-x: hidden;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.w-md-editor {
    height: 400px !important;
}


/* icnon button size */
.w-md-editor-toolbar li>button {
    height: 40px !important;
    font-size: 24px !important;
    color: #4A5568 !important;
    padding: 10px !important;
}

/* hover effect */
.w-md-editor-toolbar button:hover {
    color: #681db8 !important;
    background-color: #E9D4FF !important;
    border-radius: 6px;
}

/* active focused icon */
.w-md-editor-toolbar button:focus {
    outline: none;
    color: #007A99 !important;
    background-color: #d0f4ff !important;
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus-within:border-sky-300;
}

.btn-primary {
    @apply w-full flex items-center justify-center gap-3 text-sm font-semibold text-white bg-linear-to-r from-sky-500 to-cyan-400 p-[10px] rounded-md my-1 transition-all hover:scale-[1.01] hover:text-white cursor-pointer;
}

.btn-small {
    @apply flex items-center justify-center gap-3 bg-linear-to-r from-sky-500 to-cyan-400 text-sm font-semibold text-white px-7 py-2 rounded-lg hover:bg-black hover:text-white transition-colors cursor-pointer hover:shadow-2xl hover:shadow-sky-200;
}

.form-card {
    @apply bg-white rounded-xl shadow-xl shadow-gray-50 border border-gray-200/50;
}

.form-input {
    @apply w-full text-sm text-black outline-none bg-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500
}